{% extends 'base.html.jinja'%}

{% block content %}
<h1>Blog</h1>

<p>Here is the blog.</p>

<p>Make a <a href="{{url_for('mainNav.blog.new_post')}}">new post.</a></p>

<ul>
    {% if posts %}
    {% for post in posts %}
    <li>
        {% include 'posts/fullpost.html.jinja'%}
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}