<p>Comments:</p>
{% if post.comments %}
<ul>
    {% for comment in post.comments %}
    <li>
        <p>{{comment.content}}</p>
        <p>Posted By: {{comment.user.display_name}} on {{comment.created}}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No comments yet!</p>
{% endif %}


<p>New comment:</p>
<form method="post" action="{{url_for('mainNav.blog.new_comment')}}">
    {{commentform.comment_content}}
    {{commentform.user_id(value=current_user.id)}}
    {{commentform.post_id(value=post.id)}}
    <button type="submit">Submit</button>
</form>