{% extends 'base.html.jinja'%}

{% block content %}
<h2>New Post</h2>


<form method="post">
    {{form.user_id(value=current_user.id)}}
    {{form.post_content}}
    <button type="submit">Submit</button>

</form>
{% endblock %}